<!-- Navbar -->
<nav
	class="navbar navbar-expand-lg fixed-top navbar-custom custom-toggler"
	id="navbar"
>
	<a class="navbar-brand" href="#">
		<img src="img/logo.png" alt="Logo" class="img-fluid logo" />
	</a>
	<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
		aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button> -->
	<div class="burger-wrap">
		<div class="burger"></div>
	</div>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a
					class="nav-link"
					href="https://www.instagram.com/t.potier_official?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
					><i class="fab fa-instagram"></i
					><span class="sr-only"></span
					><span class="instagram">Instagram</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="tel:+380501926346"
					><i class="fas fa-phone"></i
					><span class="instagram">+380501926346</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="mailto:tpotierweddingdress@gmail.com"
					><i class="fas fa-envelope"></i
					><span class="instagram"
						>tpotierweddingdress@gmail.com</span
					></a
				>
			</li>
		</ul>
	</div>
</nav>

<!-- Video Block -->
<div class="bg-video-mobile">
	<video playsinline autoplay muted loop>
		<source src="video/mob.mp4" type="video/mp4" />
	</video>
</div>

<div class="bg-video-web">
	<video playsinline autoplay muted loop>
		<source src="video/web.mp4" type="video/mp4" />
	</video>
</div>

<!-- Content -->
<!-- <div class="container section-1">
	<div class="row">
		<div class="col-lg-8 col-md-8 text-large">
			<h1>T.Potier</h1>
			<p>T.Potier offers a collection of women's wedding dresses, ranging from classic styles to extraordinary
				designs. Our brand guarantees the high quality and perfection of each product. You can easily place a
				wholesale order for any dress design you wish by contacting us; you can find our contact information
				below. We look forward to working with you!</p>
		</div>
	</div>
</div> -->

<!-- Main Section -->
<section class="main-section">
	<div class="container">
		{% include '/products/Jeanne.html' %}
		<!--  -->
		{% include '/products/Rose.html' %}
		<!--  -->
		{% include '/products/Valerie.html' %}
		<!--  -->
		{% include '/products/Estelle.html' %}
		<!--  -->
		{% include '/products/Sharon.html' %}
		<!--  -->
		{% include '/products/Salvia.html' %}
		<!--  -->
		{% include '/products/Emely.html' %}
		<!--  -->
		{% include '/products/Megan.html' %}
		<!--  -->
		{% include '/products/Wien.html' %}
		<!--  -->
		{% include '/products/Elada.html' %}
		<!--  -->
		{% include '/products/Loren.html' %}
		<!--  -->
		{% include '/products/Lily.html' %}
		<!--  -->
		{% include '/products/Cassandra.html' %}
		<!--  -->
		{% include '/products/Jasmine.html' %}
		<!--  -->
		{% include '/products/Ines.html' %}
		<!--  -->
		{% include '/products/Pearl.html' %}
		<!--  -->
		{% include '/products/Magnolia.html' %}
		<!--  -->
		{% include '/products/Flora.html' %}
		<!--  -->
		{% include '/products/Lea.html' %}
		<!--  -->
		{% include '/products/Susanna.html' %}
		<!--  -->
		{% include '/products/Felix.html' %}
		<!--  -->
		{% include '/products/Doris.html' %}
		<!--  -->
		{% include '/products/Naomi.html' %}
		<!--  -->
		{% include '/products/Gaby.html' %}
		<!--  -->
		{% include '/products/Elaine.html' %}
		<!--  -->
		{% include '/products/Madison.html' %}
		<!--  -->
		{% include '/products/Stacy.html' %}
		<!--  -->
		{% include '/products/Nicole.html' %}
		<!--  -->
		{% include '/products/Linda.html' %}
		<!--  -->
		{% include '/products/Sofi.html' %}
		<!--  -->
		{% include '/products/Bianca.html' %}
	</div>
</section>

<!-- Footer -->
<footer class="footer mt-5">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-4">
				<img
					src="img/logo.png"
					alt="Brand Logo"
					class="img-fluid mb-2 logo-f"
				/>
				<p>
					T.Potier offers a collection of women's wedding dresses,
					ranging from classic styles to extraordinary designs. Our
					brand guarantees the high quality and perfection of each
					product. You can easily place a wholesale order for any
					dress design you wish by contacting us; you can find our
					contact information below. We look forward to working with
					you!
				</p>
			</div>
			<div class="col-md-4">
				<h5>Follow Us</h5>
				<ul class="social-icons list-unstyled">
					<li>
						<a
							href="https://www.instagram.com/t.potier_official?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
							><i class="fab fa-instagram fa-lg"></i
							><span class="instagram">Instagram</span></a
						>
					</li>
					<li>
						<a href="tel:+380501926346"
							><i class="fas fa-phone"></i
							><span class="instagram">+380501926346</span></a
						>
					</li>
					<li>
						<a href="mailto:tpotierweddingdress@gmail.com"
							><i class="fas fa-envelope"></i
							><span class="instagram"
								>tpotierweddingdress@gmail.com</span
							></a
						>
					</li>
				</ul>
			</div>
			<div class="col-md-4 d-flex flex-column ps">
				<h5>Dresses</h5>
				<div class="row">
					<div class="col-4">
						<ul class="list-unstyled">
							<li>
								<a href="#salvia">
									<p>Salvia</p>
								</a>
							</li>
							<li>
								<a href="#emely">
									<p>Emely</p>
								</a>
							</li>
							<li>
								<a href="#megan">
									<p>Megan</p>
								</a>
							</li>
							<li>
								<a href="#wien">
									<p>Wien</p>
								</a>
							</li>
							<li>
								<a href="#elada">
									<p>Elada</p>
								</a>
							</li>
							<li>
								<a href="#loren">
									<p>Loren</p>
								</a>
							</li>
							<li>
								<a href="#lily">
									<p>Lily</p>
								</a>
							</li>
							<li>
								<a href="#cassandra">
									<p>Cassandra</p>
								</a>
							</li>
							<li>
								<a href="#jasmine">
									<p>Jasmine</p>
								</a>
							</li>
							<li>
								<a href="#ines">
									<p>Ines</p>
								</a>
							</li>
							<li>
								<a href="#pearl">
									<p>Pearl</p>
								</a>
							</li>
							<li>
								<a href="#magnolia">
									<p>Magnolia</p>
								</a>
							</li>
							<li>
								<a href="#flora">
									<p>Flora</p>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-4">
						<ul class="list-unstyled">
							<li>
								<a href="#lea">
									<p>Lea</p>
								</a>
							</li>
							<li>
								<a href="#susanna">
									<p>Susanna</p>
								</a>
							</li>
							<li>
								<a href="#felix">
									<p>Felix</p>
								</a>
							</li>
							<li>
								<a href="#doris">
									<p>Doris</p>
								</a>
							</li>
							<li>
								<a href="#naomi">
									<p>Naomi</p>
								</a>
							</li>
							<li>
								<a href="#gaby">
									<p>Gaby</p>
								</a>
							</li>
							<li>
								<a href="#elaine">
									<p>Elaine</p>
								</a>
							</li>
							<li>
								<a href="#madison">
									<p>Madison</p>
								</a>
							</li>
							<li>
								<a href="#stacy">
									<p>Stacy</p>
								</a>
							</li>
							<li>
								<a href="#nicole">
									<p>Nicole</p>
								</a>
							</li>
							<li>
								<a href="#linda">
									<p>Linda</p>
								</a>
							</li>
							<li>
								<a href="#sofi">
									<p>Sofi</p>
								</a>
							</li>
							<li>
								<a href="#bianca">
									<p>Bianca</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Script -->
<script>
	document.addEventListener("scroll", function () {
		const header = document.getElementById("navbar");
		if (
			document.body.scrollTop > 0 ||
			document.documentElement.scrollTop > 0
		) {
			header.classList.add("scrolled");
		} else {
			header.classList.remove("scrolled");
		}
	});
</script>
